.dap{
 width:61%;
height: 27px;
background-color:grey;
margin: auto;
margin-bottom: 20px;
padding: 10px;
padding-top: 20px;

}
.love{
 height: 30px; 
  background-color:lightgrey; 
  font-size:x-large;
  margin-top: 6px;
}  
 .care{
    height: 30px; 
  font-size: x-large; 
  background-color: lightgrey; 
 }
 .like{
    height: 30px;
    font-size: x-large;
    background-color:lightgrey;
 }
 .daph{
    width: 61%;
    height: 70px;
    background-color: lightgrey;
    margin: auto;
    margin-bottom: 20px; 
    padding-left: 15px;
    padding-top: 10px;
   
 }
 .av{
   width:62% ;
   height:22px ;
   background-color:lightgray;
   margin-bottom: 10px;
   margin-left:285px ;
 }
 .avy{
   width:62% ;
   height:22px ;
   background-color: lightgrey;
   margin-left:285px ;
   margin-bottom: 10px;
 }
 .davy{
   width: 49%;
   height:20px ;
   background-color:white;
   margin-bottom: 10px;
   margin-left:142px ;
 }
 .daphine{
   width: 41%;
   height:22px ;
   background-color: lightgrey;
   margin-bottom:10px ;
   margin-left:284px ;
 }
.israel{
   width: 30%;
   height: 30px;
   background-color:white ;
   margin-bottom:10px ;
}

.amu{
   width: 61%;
   height: 400px;
   background-color: rgb(196, 245, 228);
   margin: auto;
   margin-bottom: 20px;
   padding-left: 20px;
   padding-top: 20px;
   

}
textarea{
   width: 61%;
   height: 150px;
}
.av{
   margin: auto;
   margin-left: 16px;
   margin-bottom: 10px;
}
.avy{
   margin: auto;
   padding-right: 2px;

}
.davy{
   margin: auto;
   margin-left: 19px;
   width: 62%;
}
.denis{
width: 62%;
height: 60px;
background-color: cadetblue;
margin: auto;
padding-top: 3px;
font-size: large;

}
.denis{
   text-align: center;
}



 